html {
  background-color: #dddddd;
}

h1 {
  color: #181818;
  font-family: 'BenchNine', Verdana, sans-serif;
  font-weight: bolder;
  font-size: 4em;
  margin-bottom: 0;
}

h2, h3 {
  color: #3e3149;
  font-family: 'BenchNine', Verdana, sans-serif;
  font-size: 1.5em;
}

p, li {
  color: #6a7888;
  font-family: 'Bitter', Garamond, serif;
  font-size: 1em;
}

ul {
  padding: 15px;
  list-style-type: none;
}

#finalMessage {
  margin-top: 60px;
}

#olivesMessage {
  font-size: 1.2em;
}

#finalMessage, #olivesMessage {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  border: solid 5px #6a7888;
  border-radius: 3px;
}
